@import "materialize";

@import "commontator/application";

.nav-wrapper {
  background-color: #757575;
}
.nav-white {
  background-color: white;
}
.nav-white a {
  color: black;
}

// body {
// 	background-image: url('pineapple.jpg');
// 	background-size: Auto 1000px;
// }
 
#topnav {
  height: 30px;
  margin: 0 10px;
}
#topnav a {
  color: #000;
  text-align: right;
}
#topnav li {
  display: inline;
  padding-left: 10px;

}
footer.page-footer {
  background-color: #757575;
}
